{% extends "index.html" %}



{% block charts_html %}


<h2>Что такое &laquo;Гиперкорпус&raquo;?</h2>
<p>Это корпус гипертекстовых фрагментов, которые включают в&nbsp;себя исходный текст (<nobr>текст-носитель</nobr> ссылки), целевой текст (текст, к&nbsp;которому осуществляется переход при активации ссылки) и&nbsp;ссылку, обеспечивающую связность текстовых фрагментов. Данные трехчастные фрагменты размечены по&nbsp;степени семантической близости в&nbsp;парах ссылка/целевой текст; предложение- контекст ссылки/целевой текст; исходный текст/целевой текст.</p>
<p>В&nbsp;рамках нашего подхода электронный гипертекст рассматривается как текстовое образование нового типа, которая, с&nbsp;одной стороны, отвечает всем критериям текстуальности (целостность, связность, намеренность, приемлемость, информативность, ситуативность, интертекстуальность), с&nbsp;другой, характеризуется сложной структурой и&nbsp;нелинейными связями между фрагментами.</p>

<h3>Поисковая система и&nbsp;разметка корпуса</h3>

<p>В&nbsp;настоящий момент поиск осуществляется по&nbsp;следующим параметрам:</p>
<ul>
  <li>частеречная характеристика номинации ссылки;</li>
  <li>количество компонентов в&nbsp;номинации ссылки;</li>
  <li>поиск по&nbsp;конкретной лексеме</li>
</ul>
<p>Произведена полная морфологическая разметка номинаций ссылок (инструмент: Pymorphy2).
  Семантическая разметка направлена на&nbsp;формализацию семантики гипертекстового перехода:
  для определения количественных показателей семантической близости был разработан лингвистический процессор,
  который выделяет ключевые слова в&nbsp;исходном и&nbsp;целевом текстах и&nbsp;строит для них векторные модели.
  При выявлении ключевых слов используется мера TF- IDF, которая считается по&nbsp;формуле</p>

  <center><img src='/static/images/formula.png' /></center>
<p>
где tf&nbsp;&mdash; частота слова в&nbsp;данном документе, N&nbsp;&mdash; общее число документов в&nbsp;корпусе, dfx&nbsp;&mdash; количество документов, содержащих слово. Эта мера позволяет выявить слова, уникальные для конкретного текста относительно общего массива текстов. Векторное представление ключевых слов строится с&nbsp;использованием модели ruscorpora_upos_skipgram_300_5_2018, обученной на&nbsp;&laquo;Национальном корпусе русского языка&raquo;.</p>
<h3>Состав и&nbsp;объём корпуса</h3>
<p>В&nbsp;состав основных источников на&nbsp;данный момент входят тексты публицистического стиля. Источником послужили новостные ресурсы: &laquo;Коммерсант&raquo;, &laquo;Известия&raquo;, &laquo;РБК&raquo;, &laquo;Новая газета&raquo;, &laquo;ТАСС&raquo;, &laquo;Дождь&raquo;, &laquo;Новая газета&raquo;, &laquo;Ведомости&raquo;, &laquo;Интерфакс&raquo;.</p>
<p>База данных включает в&nbsp;себя 31 тыс. текстов с&nbsp;общим словоупотреблением 12&nbsp;млн. слов. Представленные тексты входят в&nbsp;состав 51 тыс. гипертекстовых фрагментов.</p>
<h3>Авторы проекта:</h3>
<p>Шульгинов Валерий Александрович (к.ф.н., доцент кафедры русского языка как иностранного ДВФУ)<br />
<a href="mailto:shulginov.val@yandex.ru">shulginov.val@yandex.ru</a><br />
<p>Шульгинов Вадим Александрович<br />
<a href="mailto:vadim.shulginov@yandex.ru">vadim.shulginov@yandex.ru</a><br />
</p>
<p>Исследование выполнено при финансовой поддержке РФФИ в&nbsp;рамках научного проекта &#8470;&nbsp;<nobr>18-312-00010</nobr></p>
{% endblock %}
