<div class="row">
    <div class="col">
        <nav class="navbar navbar-light bg-light">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="/">Главная</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/stat_links_sim">Связь</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarAbout" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                О корпусе
              </a>
              <div class="dropdown-menu" aria-labelledby=" navbarAbout">
                 <a class="dropdown-item" href="/about">О корпусе</a>
                 <a class="dropdown-item" href="/sѴtat_docs">Статистика</a>
              </div>
            </li>

            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Визуальные кореляции
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                 <a class="dropdown-item" href="/stat_docs_paragraphs">Близость к частям текста</a>
                 <a class="dropdown-item" href="/sim_corr_1">Cсылка-целевой текст</a>
                 <a class="dropdown-item" href="/sim_corr_1">Cсылка-предложение</a>
                 <a class="dropdown-item" href="/sim_corr_syn">Root</a>
               </div>
             </li>
          </ul>
        </nav>
    </div>
</div>
